html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

.invisible {
  opacity: 0;
}

.text-center {
  text-align: center;
}

.game {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  background-color: #4a752c;
  color: #ffffff;
  font-family: arial, sans serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

canvas {
  outline: 1px solid #fff;
  height: 300px;
  width: 300px;
}

@media (min-width: 320px) {
  .game {
    width: calc(100vw - 40px);
  }

  canvas {
    height: calc(100vw - 40px);
    width: calc(100vw - 40px);
  }
}

@media (min-width: 500px) {
  .game {
    width: 500px;
  }

  canvas {
    width: 500px;
    height: 500px;
  }
}

.game-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.game-header .game-score {
  color:#13dbdc;
}

.game-best-score {
  color: #fdc001;
  transition: all 0.3s;
}

.game-header .game-score span,
.game-header .game-best-score span {
  color: #ffffff;
}
/* -------------------------------------------------------------------------- */

.control-buttons {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
  background-color: #aaaaaa80;
  background-image: url('../control.png');
  background-size: 100%;
}

.control-button {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #c2c2c2;
  left: 85px;
  top: 85px;
}

.free-control .control-button {
  left: 85px !important;
  top: 85px !important;
  animation: left 0.2s, top 0.2s;
}

.user-control .control-button {
  animation: none;
}

/* -------------------------------------------------------------------------- */
.game-btn {
  position: absolute;
  width: calc(100% - 40px);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.game-btn button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #aaaaaa80;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.game-btn button,
.game-btn button:hover,
.game-btn button:active,
.game-btn button:focus {
  outline: 0;
  border: 0;
}

.game-sound {
  background-image: url('../unmuted.svg');
}

.game-sound.muted {
  background-image: url('../muted.svg');
}

.game-control {
  background-image: url('../play.svg');
}

.game-control.playing {
  background-image: url('../stop.svg');
}
/* -------------------------------------------------------------------------- */
.game-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  transition: opacity 0.3s;
}

.game-modal {
  display: none;
}

.game-modal.modal-instructions,
.game-modal.modal-game-over,
.game-modal.modal-resume {
  display: block;
}

.game-modal-body {
  padding: 16px;
  background-color: #ffffff;
  width: 300px;
  color: #772bdb;
  margin: 120px auto 30px;
  border-radius: 12px;
  font-size: 18px;
}

.game-modal-body .game-score {
  color: #fdc001;
}

.game-modal-body .game-score span {
  color: #e7471d;
}

.close-modal {
  display: block;
  margin: 0 auto;
  padding: 16px;
  width: 300px;
  background-color: #15c;
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 12px;
}

.close-modal .b-play,
.close-modal .b-play-again,
.close-modal .b-resume {
  display: none;
}

.modal-instructions .close-modal .b-play {
  display: inline-block;
}

.modal-game-over .close-modal .b-play-again {
  display: inline-block;
}

.modal-resume .close-modal .b-resume {
  display: inline-block;
}

.game-modal-body .game-instructions,
.game-modal-body .game-over,
.game-modal-body .game-resumed {
  display: none;
}

.modal-instructions .game-modal-body .game-instructions {
  display: block;
}

.modal-game-over .game-modal-body .game-over {
  display: block;
}

.modal-resume .game-modal-body .game-resumed {
  display: block;
}
